[Unit]
Description=timer
Requires=
After=network-online.target

[Service]
ExecStart=/usr/bin/python /home/pi/git/raspberry/lcd_service/timer.py
WorkingDirectory=/home/pi/git/raspberry/lcd_service/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=network-online.target